<ion-card>
    <ion-img [src]="recipe.imageUrl"></ion-img>
    <ion-card-header class="ion-text-center">
        <ion-card-title>{{recipe.title}}</ion-card-title>
        <div class="recipe-details ion-padding">
            <div>
                <ion-icon slot="start" name="receipt-outline"></ion-icon>
                <ion-label>
                    Ingredients: {{recipe.ingredients.length}}
                </ion-label>
            </div>
            <div>
                <ion-icon slot="start" name="alarm-outline"></ion-icon>
                <ion-label>
                    Cooking time: {{recipe.cookingTime}}
                </ion-label>
            </div>
        </div>
    </ion-card-header>
    <ion-card-content>
        {{recipe.description}}
    </ion-card-content>
    <ion-row>
        <ion-col size="6" class="ion-text-center">
            <ion-button (click)="removeFromFavourites(recipe.id)" class="ion-text-center ion-margin-vertical" color="danger" fill="clear" shape="round" *ngIf="recipe.isFavourite">
                <ion-icon slot="start" name="heart"></ion-icon>
                Favourite
            </ion-button>
            <ion-button (click)="addToFavourites(recipe.id)" class="ion-text-center ion-margin-vertical" color="danger" fill="clear" shape="round" *ngIf="!recipe.isFavourite">
                <ion-icon slot="start" name="heart-outline"></ion-icon>
                Favourite
            </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
            <ion-button [routerLink]="['/','recipes','tabs','recipes-list',recipe.id]" class="ion-text-center ion-margin-vertical" fill="clear" shape="round">
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
                See details
            </ion-button>
        </ion-col>
    </ion-row>
</ion-card>