<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Recipes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row *ngIf="isLoading">
            <ion-col size="12" size-sm="6" offset-sm="3" class="ion-text-center">
                <ion-spinner color="primary" name="bubbles"></ion-spinner>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isLoading && loadedRecipes.length<=0">
            <ion-col size="12" size-sm="6" offset-sm="3" class="ion-text-center">
                <p>No recipes yet. Add one!</p>
                <ion-button color="success" routerLink='/recipes/tabs/favourites/new'>Add New Recipe</ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isLoading && loadedRecipes.length>0">
            <ion-col size="12" size-sm="6" offset-sm="3" *ngFor="let recipe of loadedRecipes">
                <app-recipe-item [recipe]="recipe"></app-recipe-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>