<ion-grid fixed>
    <ion-row>
        <ion-col size="12">
            <ion-list>
                <ion-item *ngFor="let f of favouriteRecipes" [routerLink]="['/','recipes','tabs','recipes-list',f.id]">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="f.imageUrl"></ion-img>
                    </ion-thumbnail>
                    <ion-label>{{f.title}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>